<p>
  collections works!
</p>
<div class="coll-con">
  <h1 class="coll-h1">Collections</h1>
  <!-- <div class="coll-box" *ngFor="let collection 0f data"> -->
    <!-- <img src="{{collection.image_url}}" class="res-img"> -->
    <div class="coll-details">
      <!-- <h2 class="coll-name">{{collection.title}}</h2> -->
      <!-- <p class="res-loc">{{collection.description}}</p> -->
      <div>
        <span class="button">
          <strong>
            <!-- <a href="{{collection.url}}">View More >
            </a> -->
          </strong>
        </span>
      </div>
    </div>
  <!-- </div> -->
</div>
